.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px; 
    text-align: center; 
    a { 
        margin: 2px;
        color: $color-primary;
     }
}
