@import "variable.scss";
@import "attribution.scss";
*{  
    padding: 0;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    color:$white-color;
}
body{

   background: $background; 
}
.main-content{
    display: flex;
    width: 350px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    background: $dk-blue;
    border-radius: 15px;
    padding: 10px;
    
    .container{
        display: flex;
       
        width: 90%;
        margin: 20px 0;

        .rating-ask{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .star{
                width:15px;
                height: 15px;
                background-color: $medium;
                padding: 12px;
                border-radius: 20px;
                margin-bottom: 15px;
            }
            .title{
                font-weight: 700;
                font-size: 25px;
                margin-bottom: 20px;
            }
            .text{
                color: $light;
                font-weight: 400;
                font-size: 16px;
                line-height:25px;
                margin-bottom: 20px;
            }
            .form{
                display: flex;
                width: 100%;
                fieldset{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    border: 0;
                    .form-group{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        
                        label{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 25px;
                            width: 50px;
                            height: 50px;
                            background: $medium;
                            cursor: pointer;
                            
                        }
                        label:hover{
                            background: $medium-hover;
                        }
                        input[type="radio"]{
                            width:1px;
                            height: 1px;
                            opacity: 0;
                        }
                        input[type="radio"]:checked + label{
                            background: $color-primary;
                        }
                    }
                }
                
            }
            
            .btn{
                background: $color-primary;
                border: 0;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 16px;
                letter-spacing: 3px;
                padding: 15px;
                border-radius: 25px;

            }
            .btn:hover{
                background: $white-color;
                color: $color-primary;
                font-weight:400;
            }

        }
        .thank-you-section, .on .rating-ask{
            display: none;
        }
        .on .thank-you-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .thanks{
                width: 45%;
                margin-bottom: 20px;
            }
            .rating-select{
                background:$medium;
                padding: 10px 15px;
                border-radius: 20px;
                font-weight: 400;
                color:$color-primary;
                margin-bottom: 25px;
            }
            .title-thanks{
                font-size: 25px;
                margin-bottom: 15px;
                font-weight: 700;
            }
            .text{
                color: $light;
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                line-height:25px;
                margin-bottom: 15px;
            }
        }
        
    }

}
