$color-primary: hsl(25, 97%, 53%);
$white-color: hsl(0, 0%, 100%);
$background: hsl(216, 12%, 8%);
$light:hsl(217, 12%, 63%);
$medium-hover: hsl(216, 12%, 54%);
$medium: hsl(216, 12%, 54%,0.2);
$dk-blue: hsl(213, 19%, 18%);
$gradient: linear-gradient( 180deg,hsl(213, 19%, 18%),hsl(204, 26%, 11%));
